* {
  transition: all 800ms;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -o-transition: all 800ms;
  font-variant: small-caps;
}

.kontakt-content {
  width: 13%;
  padding: 5px 50px 50px 50px;
  background-color: black;
  border-color: yellow;
  border-style: dotted;
  margin: auto;
  margin-top: 10%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 30px;
  transition: all 900ms;
  -webkit-transition: all 900ms;
  -moz-transition: all 900ms;
  -o-transition: all 900ms;
}

.kontakt-content:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 2);
  width: 60%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  cursor: crosshair;
}

.kontakt-content p:hover {
  letter-spacing: .2px;
  cursor: text;
  transition: all 600ms;
  -webkit-transition: all 600ms;
  -moz-transition: all 600ms;
  -o-transition: all 600ms;
}

.kontakt-content:hover h2 {
  letter-spacing: 16px;
}

.kontakt-content:hover h3 {
  visibility: visible;
}

.kontakt-content:hover p {
  visibility: visible;
}

.kontakt-content:hover .kcemailform {
  visibility: visible;
}

.kontakt-content p {
  font-size: 14px;
  visibility: hidden;
}

.kcemailform {
  visibility: hidden;
}

.kcemailformbutton {
  padding: 2px 15px 2px 15px;
  background: red;
  border-style: hidden;
  cursor: pointer;
}

.kontakt-content h2, .kontakt-content h3 {
  color: red;
  margin: 0;
}

.kontakt-content h2 {
  font-size: 26px;
}

.kontakt-content h3 {
  font-size: 20px;
  padding: 30px 0 10px 0;
  text-decoration: underline;
  visibility: hidden;
}

.kontakt-content p {
  color: black;
}

.kontakt-content:hover p {
  color: red;
}

.kontakt-content h3 {
  color: black;
}

.kontakt-content:hover h3 {
  color: red;
}

@media (max-width: 1700px) {
  .kontakt-content {
    width: 46%;
    margin-top: 25%;
  }

  .kontakt-content:hover h2 {
    letter-spacing: 11.5px;
  }

  .kontakt-contenth2 {
    font-size: 22px;
  }

  .kontakt-content h3 {
    color: red;
    font-size: 18px;
    visibility: visible;
  }

  .kontakt-content p {
    color: red;
    font-size: 14px;
    visibility: visible;
  }

  .kcemailform {
    visibility: visible;
  }
}

/********** iPhone 6/7/8 **********/
@media (max-width: 375px) {
  .kontakt-content {
    width: 55%;
    margin-top: 25%;
  }

  .kontakt-content:hover h2 {
    letter-spacing: 11.5px;
  }

  .kontakt-content h2 {
    font-size: 18px;
  }

  .kontakt-content h3 {
    font-size: 14px;
    visibility: visible;
  }

  .kontakt-content p {
    color: red;
    font-size: 10px;
    visibility: visible;
  }

  .kcemailform {
    visibility: visible;
  }
}